# Projet scoring

## Contexte du projet

Système expert Best Immo est un outil d'aide à la décision à l'octroi d'un crédit immobilier. Il permet de rendre un avis en risque pour un projet immobilier à partir des données saisies par le conseiller. 
Cette note de risque résulte d'un croisement entre un diagnostic de solvabilité qui a été revu fin 2019 par la direction des engagements et d'un score statistique construit et maintenu par RCP/Modélisation. 
Le score statistique a été mise en production en 2014 et 2015. La variable cible d score est le défaut actuel observé à 36 mois suite à l'octroi.

  Seuil d’arriérés franchis + de 90 jours consécutifs (seuil absolu : supérieurs à 100 € Retail / à 500 € Corporate et seuil relatif : supérieurs à 1% du bilan) ▪ Faillite / procédure judiciaire (surendettement Banque de France, RJ / LJ, procédure ou plan de sauvegarde) ▪ Les restructurations pour risque avec perte économique > 1% (baisse du taux d’intérêt) ▪ Contagion ▪ Perspectives négatives (avis d’expert basé sur des indicateurs d’alertes précoces - Early Warnings) ▪ Client en défaut chez Interfimo

## Objectifs

Le but est de:
- prendre en compte un profil emprunteur actualisé avec l'utilisation d'un historique de données plus récent. 
- d'explorer et étudier l'apport de nouvelles variables discriminantes
- tester l'apport de données externes (données socio-démo par ex)
- prendre en compte la nouvelle définition du défaut balois comme variable cible
(meilleure quantification du risque de défaut et évolution réglementaire)

## Exploration des données

In [23]:
import pandas as pd
import os

In [24]:
data_path=os.path.dirname(os.getcwd())+"/data"

In [25]:
data_path

'/Users/luciegabagnou/Documents/MOSEF/SCORING/projet/data'

In [26]:
raw_data=pd.read_excel(f"{data_path}/Bases_recents.xlsx")

In [27]:
raw_data

,region_cri,date_debloc_avec_crd,DAT_VALIDE_ACCORD_CRI,nb_pret,TOP_CONNU_BRP,TOP_SCI_BRP,ASU_BIEN_FIN_BRP,NAT_BIEN_FIN_BRP,NBR_INT_BRP,NBR_TOT_COEMPR_CRI,...,Mt_credit_nb_ans_rev_prof,Epargne_nb_ans_rev_prof,rentabilite_loc,financement_tot,quotite,top_locatif,top_pret_int_ext,top_autre_pret_int,top_autre_pret_ext,top_pers_seule
0,ILE DE FRANCE,201405,2010-12-01,1,0,0,40,10,2,1,...,3.140729,NaN,NaN,301510.0,1.083166,1,0,0,0,1
1,ILE DE FRANCE,201405,2011-03-14,2,0,0,10,10,2,1,...,0.999205,NaN,NaN,190962.0,0.310507,0,0,0,0,0
2,PACA,201407,2011-06-21,1,0,0,40,20,1,0,...,4.375182,NaN,NaN,105000.0,1.000000,1,0,0,0,1
3,AUVERGNE,201404,2011-06-27,1,0,0,20,20,2,1,...,2.006637,0.389825,NaN,215280.0,0.800000,0,0,0,0,0
4,ILE DE FRANCE,201404,2011-09-29,3,0,0,10,10,1,0,...,4.536824,0.287687,NaN,177700.0,0.585158,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114411,PAYS DE LA LOIRE,201804,2018-04-06,1,0,0,10,20,2,1,...,3.743370,2.582877,NaN,252670.0,1.052792,0,0,0,0,1
114412,AUVERGNE,201804,2018-03-29,2,0,0,10,10,1,0,...,3.726499,NaN,NaN,244000.0,1.000000,0,0,0,0,1
114413,ILE DE FRANCE,201804,2018-03-28,1,0,0,10,10,2,1,...,6.028812,0.697618,NaN,345680.0,1.002698,0,0,0,0,1
114414,BRETAGNE,201804,2018-03-29,1,0,0,20,20,2,1,...,3.269921,NaN,NaN,147330.0,1.091333,0,0,0,0,0
114415,ILE DE FRANCE,201804,2018-03-30,2,0,0,10,10,2,1,...,5.005622,0.540564,NaN,231500.0,0.926000,0,0,0,0,0

In [28]:
raw_data.columns.tolist()

['region_cri',
 'date_debloc_avec_crd',
 'DAT_VALIDE_ACCORD_CRI',
 'nb_pret',
 'TOP_CONNU_BRP',
 'TOP_SCI_BRP',
 'ASU_BIEN_FIN_BRP',
 'NAT_BIEN_FIN_BRP',
 'NBR_INT_BRP',
 'NBR_TOT_COEMPR_CRI',
 'COD_POSTAL_BIEN_CRI',
 'TOP_GARANTIE_CL',
 'CODPAY_BIEN_CRI',
 'CODTYPE_PROJET_CRI',
 'COD_CPPOP_CRI',
 'COD_ETA_BIEN_CRI',
 'COD_USAGE_BIEN_CRI',
 'BEST_APPORT_MT_BRP',
 'BEST_APPORT_TX_BRP',
 'PCT_APPORT_PERS_CRI',
 'PCT_ENDETTMT_CRI',
 'TOP_ETR_BRP',
 'TOP_PRET_RELAIS_BRP',
 'TX_APPORT_HF_AT_BRP',
 'TX_APPORT_HF_HT_BRP',
 'TX_APPORT_TF_AT_BRP',
 'TX_APPORT_TF_HT_BRP',
 'TX_APPORT_BRP',
 'TX_APPORT_AGENCE_BRP',
 'TX_FINANCEMENT_BRP',
 'TX_FINANCEMENT_AGENCE_BRP',
 'FINANCEMENT_LT_BRP',
 'FINANCEMENT_PR_BRP',
 'TX_APPORT_SE_BRP',
 'LTV_OCTROI_BRP',
 'LTV_ACPR_BRP',
 'TOP_SURFINANCEMENT_BRP',
 'top_exist_conso_revo_BRP',
 'NBR_DUREE_TOT_PRET_CRI',
 'MNT_PRET_CRI',
 'PCT_NEGOC_CRI',
 'PCT_TEG_TAEG_CRI',
 'MNT_TOT_ASSURANCE_CRI',
 'MNT_COUT_TOT_CREDIT_CRI',
 'COUT_ACQ_BRP',
 'COUT_DOSSIER_BRP',
 'COUT_GAR_BRP',
 'COUT_NOTAIRE_BRP',
 'AUTRES_COUT_BRP',
 'COUT_PROJET_HF_AT_BRP',
 'COUT_PROJET_HF_HT_BRP',
 'COUT_PROJET_TF_AT_BRP',
 'cout_projet_tf_ht_BRP',
 'COUT_TRAVAUX_BRP',
 'COUT_BIEN_FINANCE_BRP',
 'COUT_BIEN_FINANCE_AGENCE_BRP',
 'COUT_RACHAT_BRP',
 'COUT_SOULTE_BRP',
 'IRPAR_USAGE_V12_MAX',
 'IRPRO_USAGE_V12_MAX',
 'AGE_INT_MAX_BRP',
 'Anc_banc_INT_jr_MAX_BRP',
 'ANC_OCC_LOG_ACT_BRP',
 'ANC_PROF_MAX_BRP',
 'COD_CSP_BRP',
 'PAR_SCI_BRP',
 'NAT_INT_MAX_BRP',
 'NBR_ENF_CHAR_BRP',
 'NBR_AUT_CHAR_BRP',
 'SIT_FAM_INT_BRP',
 'STA_CLP_BRP',
 'TOP_ASC_DESC_BRP',
 'TYP_CNT_TRA_MAX_BRP',
 'TYP_LOG_ACT_BRP',
 'QUA_INT_1_BRP',
 'QUA_INT_MAX_BRP',
 'ROL_INT_MAX_BRP',
 'MOY_NBR_ENF_CHAR_BRP',
 'MOY_NBR_AUT_CHAR_BRP',
 'MOY_ANC_PROF_BRP',
 'CODPAY_NAT_EMPRUNTEUR_CRI',
 'CODTYP_CRT_TRAVAIL_CRI',
 'COD_SITU_LOGT_CRI',
 'COD_SIT_FAM_EMPRUNTEUR_CRI',
 'COD_TYPE_MARCHE_CRI',
 'IND_INCIDENT_BDF_CRI',
 'IND_PRIMO_ACCEDT_CRI',
 'NBR_AGE_CLIENT_CRI',
 'NBR_ENF_ACHARGE_CRI',
 'NBR_OCCUP_CRI',
 'MNT_RESSOURCES_CRI',
 'SUM_RESS_REVENUS_BRP',
 'SUM_RESS_IMMO_BRP',
 'SUM_RESS_PROF_BRP',
 'SUM_EPARGNE_BRP',
 'SUM_PATR_IMMO_BRP',
 'SUM_MTENCBIE_EPARGNE_BRP',
 'SUM_MTENCBIE_IMMO_BRP',
 'MNT_PRET_ENC_HRSLCL_CRI',
 'MNT_PRET_ENC_LCL_CRI',
 'SUM_IMPO_REV_BRP',
 'SUM_TAX_FISC_BRP',
 'SUM_LOYER_BRP',
 'SUM_AUTRES_CHARG_BRP',
 'SUM_MNT_PRE_EXTERNE_BRP',
 'mnt_pret_ext_brp',
 'SUM_MNT_PRE_INTERNE_BRP',
 'defaut_36mois',
 'DEPARTEMENT_CRI',
 'TOP_BIEN_FR_CRI',
 'TOP_NAT_FR_CRI',
 'CSP_RGP_BRP',
 'ID',
 'Mt_credit_nb_ans_rev_prof',
 'Epargne_nb_ans_rev_prof',
 'rentabilite_loc',
 'financement_tot',
 'quotite',
 'top_locatif',
 'top_pret_int_ext',
 'top_autre_pret_int',
 'top_autre_pret_ext',
 'top_pers_seule']

In [29]:
print(raw_data.columns.tolist())

['region_cri', 'date_debloc_avec_crd', 'DAT_VALIDE_ACCORD_CRI', 'nb_pret', 'TOP_CONNU_BRP', 'TOP_SCI_BRP', 'ASU_BIEN_FIN_BRP', 'NAT_BIEN_FIN_BRP', 'NBR_INT_BRP', 'NBR_TOT_COEMPR_CRI', 'COD_POSTAL_BIEN_CRI', 'TOP_GARANTIE_CL', 'CODPAY_BIEN_CRI', 'CODTYPE_PROJET_CRI', 'COD_CPPOP_CRI', 'COD_ETA_BIEN_CRI', 'COD_USAGE_BIEN_CRI', 'BEST_APPORT_MT_BRP', 'BEST_APPORT_TX_BRP', 'PCT_APPORT_PERS_CRI', 'PCT_ENDETTMT_CRI', 'TOP_ETR_BRP', 'TOP_PRET_RELAIS_BRP', 'TX_APPORT_HF_AT_BRP', 'TX_APPORT_HF_HT_BRP', 'TX_APPORT_TF_AT_BRP', 'TX_APPORT_TF_HT_BRP', 'TX_APPORT_BRP', 'TX_APPORT_AGENCE_BRP', 'TX_FINANCEMENT_BRP', 'TX_FINANCEMENT_AGENCE_BRP', 'FINANCEMENT_LT_BRP', 'FINANCEMENT_PR_BRP', 'TX_APPORT_SE_BRP', 'LTV_OCTROI_BRP', 'LTV_ACPR_BRP', 'TOP_SURFINANCEMENT_BRP', 'top_exist_conso_revo_BRP', 'NBR_DUREE_TOT_PRET_CRI', 'MNT_PRET_CRI', 'PCT_NEGOC_CRI', 'PCT_TEG_TAEG_CRI', 'MNT_TOT_ASSURANCE_CRI', 'MNT_COUT_TOT_CREDIT_CRI', 'COUT_ACQ_BRP', 'COUT_DOSSIER_BRP', 'COUT_GAR_BRP', 'COUT_NOTAIRE_BRP', 'AUTRES_COUT_BRP', 'COUT_PROJET_HF_AT_BRP', 'COUT_PROJET_HF_HT_BRP', 'COUT_PROJET_TF_AT_BRP', 'cout_projet_tf_ht_BRP', 'COUT_TRAVAUX_BRP', 'COUT_BIEN_FINANCE_BRP', 'COUT_BIEN_FINANCE_AGENCE_BRP', 'COUT_RACHAT_BRP', 'COUT_SOULTE_BRP', 'IRPAR_USAGE_V12_MAX', 'IRPRO_USAGE_V12_MAX', 'AGE_INT_MAX_BRP', 'Anc_banc_INT_jr_MAX_BRP', 'ANC_OCC_LOG_ACT_BRP', 'ANC_PROF_MAX_BRP', 'COD_CSP_BRP', 'PAR_SCI_BRP', 'NAT_INT_MAX_BRP', 'NBR_ENF_CHAR_BRP', 'NBR_AUT_CHAR_BRP', 'SIT_FAM_INT_BRP', 'STA_CLP_BRP', 'TOP_ASC_DESC_BRP', 'TYP_CNT_TRA_MAX_BRP', 'TYP_LOG_ACT_BRP', 'QUA_INT_1_BRP', 'QUA_INT_MAX_BRP', 'ROL_INT_MAX_BRP', 'MOY_NBR_ENF_CHAR_BRP', 'MOY_NBR_AUT_CHAR_BRP', 'MOY_ANC_PROF_BRP', 'CODPAY_NAT_EMPRUNTEUR_CRI', 'CODTYP_CRT_TRAVAIL_CRI', 'COD_SITU_LOGT_CRI', 'COD_SIT_FAM_EMPRUNTEUR_CRI', 'COD_TYPE_MARCHE_CRI', 'IND_INCIDENT_BDF_CRI', 'IND_PRIMO_ACCEDT_CRI', 'NBR_AGE_CLIENT_CRI', 'NBR_ENF_ACHARGE_CRI', 'NBR_OCCUP_CRI', 'MNT_RESSOURCES_CRI', 'SUM_RESS_REVENUS_BRP', 'SUM_RESS_IMMO_BRP', 'SUM_RESS_PROF_BRP', 'SUM_EPARGNE_BRP', 'SUM_PATR_IMMO_BRP', 'SUM_MTENCBIE_EPARGNE_BRP', 'SUM_MTENCBIE_IMMO_BRP', 'MNT_PRET_ENC_HRSLCL_CRI', 'MNT_PRET_ENC_LCL_CRI', 'SUM_IMPO_REV_BRP', 'SUM_TAX_FISC_BRP', 'SUM_LOYER_BRP', 'SUM_AUTRES_CHARG_BRP', 'SUM_MNT_PRE_EXTERNE_BRP', 'mnt_pret_ext_brp', 'SUM_MNT_PRE_INTERNE_BRP', 'defaut_36mois', 'DEPARTEMENT_CRI', 'TOP_BIEN_FR_CRI', 'TOP_NAT_FR_CRI', 'CSP_RGP_BRP', 'ID', 'Mt_credit_nb_ans_rev_prof', 'Epargne_nb_ans_rev_prof', 'rentabilite_loc', 'financement_tot', 'quotite', 'top_locatif', 'top_pret_int_ext', 'top_autre_pret_int', 'top_autre_pret_ext', 'top_pers_seule']

## Création de la target

In [30]:
raw_data[raw_data["defaut_36mois"]==1]

,region_cri,date_debloc_avec_crd,DAT_VALIDE_ACCORD_CRI,nb_pret,TOP_CONNU_BRP,TOP_SCI_BRP,ASU_BIEN_FIN_BRP,NAT_BIEN_FIN_BRP,NBR_INT_BRP,NBR_TOT_COEMPR_CRI,...,Mt_credit_nb_ans_rev_prof,Epargne_nb_ans_rev_prof,rentabilite_loc,financement_tot,quotite,top_locatif,top_pret_int_ext,top_autre_pret_int,top_autre_pret_ext,top_pers_seule
264,HAUTS DE FRANCE,201404,2014-03-20,1,0,0,10,20,2,1,...,2.957418,NaN,NaN,244336.0,1.038208,0,0,0,0,0
442,AQUITAINE,201406,2013-10-31,3,0,0,10,10,1,0,...,4.433832,0.876028,NaN,156900.0,0.891477,0,0,0,0,1
612,ILE DE FRANCE,201404,2014-02-11,1,0,0,40,10,2,1,...,2.227847,NaN,0.048955,205510.0,1.022438,1,0,0,0,0
813,ILE DE FRANCE,201406,2014-01-24,1,0,0,10,10,2,1,...,5.435003,NaN,NaN,134000.0,0.881579,0,0,0,0,1
939,PACA,201405,2014-03-17,1,0,0,40,10,1,0,...,2.260941,0.324868,NaN,144759.0,1.042181,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114220,OCCITANIE,201804,2018-03-17,2,0,0,10,10,2,1,...,6.343426,NaN,NaN,298547.0,0.998485,0,0,0,0,1
114248,ILE DE FRANCE,201804,2018-03-20,1,0,0,10,10,2,1,...,5.965203,0.025997,NaN,458915.0,0.775194,0,0,0,0,1
114322,ILE DE FRANCE,201804,2018-03-15,1,0,0,10,20,2,1,...,6.430059,NaN,NaN,460000.0,1.000000,0,0,0,0,0
114339,ILE DE FRANCE,201804,2018-03-17,1,0,0,10,20,2,1,...,5.343133,0.119344,NaN,268626.0,1.009872,0,0,0,0,0
114402,PACA,201804,2018-03-23,1,0,0,20,10,2,1,...,2.541541,NaN,NaN,109116.0,0.991964,0,0,0,0,0

In [33]:
raw_data["date_debloc_avec_crd"].max()

201804